/*base document styles & instructions*/
html {
  font-size: 14px;
}

body {
  font-family: 'Work Sans',sans-serif;
  background-color: rgb(255, 242, 242);
}
h1 {
  font-size: 2.5rem;
  margin-top: 0;
}
h2 {
  font-size: 1rem;
}
h1,
h2 {
  color: rgb(32, 64, 86);
  font-weight: bold;
}
p {
  color: rgb(74, 74, 74);
}
header {
  height: 5.25rem;
}
#game {
  width: 750px;
}

/*cards*/
.card {
  height: 12.5rem;
  width: 12.5rem;
  background-color: rgb(32, 64, 86);
  border: 4px solid #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 7rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
/*.card h3 {

  display: none;
}*/
.flipped {

}
